nav{
    background-color: #f0c888;
}
body{
    background-image: url(Image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    overflow-x:hidden
}
.home:hover{
    color: #f87000;
    background-color: #f2cb90;
}
.offcanvas{
    background-color: #f2cb90;
}
.dropdown{
    background-color: #f2cb90;
}
.logo{
    transform: translateY(-5px);
}.navbrand{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  rgb(76, 55, 33);
	text-shadow: 3px 3px 2px rgb(245, 197, 121), 0 0 25px rgb(241, 194, 143), 0 0 5px rgb(95, 61, 9);
    font-size: 20px;
}
.nav-link:hover{
    color: #f87000;
}
.nav-link{
    font-size: 18px;
}
.text1{
    text-align: right;
    margin-right: 10%;
    margin-top: 20%;
    margin-left: 10%;
    color: #F0F1C5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.text3{
    background-color: #f7daad;
    margin-top: 220px;
    text-align: center;
    padding-top: 5%;
}
.text3 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info{
    margin: 10px;
    
}
.info p{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Footer section */
.site-footer{
    padding: 5em 0;
    background: #ffe0ae;
    font-size: 15px;
    color: #0a0a09;
}
.site-footer p:last-child{
    margin-bottom: 0;
}
.site-footer a{
    color: #c18d2d;
    border-bottom: 1px solid transparent;
}
.site-footer a:hover{
    color: #554121;
    border-bottom: 1px solid black;
}
.site-footer h2{
    font-size: 29px;
    margin-bottom: 28px;
    letter-spacing: .05em;
    color: #68470d;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.site-footer .footer-link li{
    line-height: 1.5;
    margin-bottom: 15px;
}
.footer-social a{
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(225,225,225,0.1);
}
.footer-social a{
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(186, 152, 109, 0.185);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}
.footer-social a:hover{
    background: #e9b55bd0;
    border-color: #b38b5a8d;
    color: #754c11;
}
.footer-social .fa{
    margin-top: 6px;
}
.contact{
       color: #68470d;
}



